<form  [formGroup]="reactiveForm"  (ngSubmit) = "submitReactiveForm($event)" >
	<label>Username:</label>
	<input type="text" name="username" formControlName = 'username' >
	<span *ngIf = "reactiveForm.controls['username'].hasError('required')" >*</span>
	<label>Password</label>
	<input type="password" name="pass" formControlName = 'password' >
	<span *ngIf = "reactiveForm.controls['password'].hasError('required')" >*</span>
	<select formControlName = "testNames" >
		<option *ngFor = "let name of Names" [ngValue]="name">{{name}}</option>
	</select>
	<ul>
        <li *ngFor="let item of listArr; let i = index">
          <label>
            <input type="checkbox" [checked] = "true" name = "{{item}}" value = "{{item}}"  />  
            {{item}}
          </label>
        </li>
      </ul>
	<button  type="submit" [disabled] = '!reactiveForm.valid' >Click to submit</button>

</form>