<form  [formGroup]="reactiveForm"  (ngSubmit) = "submitReactiveForm()" >
	<label>Username:</label>
	<input type="text" name="username" formControlName = 'username' >
	<div *ngIf = "reactiveForm.controls['username'].hasError('required')" >*</div>
	<label>Password</label>
	<input type="password" name="pass" formControlName = 'password' >
	<div *ngIf = "reactiveForm.controls['password'].hasError('required')" >*</div>
	<button  type="submit" [disabled] = '!reactiveForm.valid' >Click to submit</button>

</form>