<form  [formGroup]="reactiveForm"  (ngSubmit) = "submitReactiveForm()" >
	<label>Username:</label>
	<input type="text" name="username" formControlName = 'username' >
	<span *ngIf = "reactiveForm.controls['username'].hasError('required')" >*</span>
	<label>Password</label>
	<input type="password" name="pass" formControlName = 'password' >
	<span *ngIf = "reactiveForm.controls['password'].hasError('required')" >*</span>
	<select formControlName = "testNames" >
		<option *ngFor = "let name of Names" [ngValue]="name">{{name}}</option>
	</select>
	<button  type="submit" [disabled] = '!reactiveForm.valid' >Click to submit</button>

</form>